{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h1>{{ actor.stractor }}</h1>
</div>

<div class="row">

	<div class="col-xs-12 col-sm-12 col-md-12">

		Acted:
		<ul>
		{% for link in actor.actorlinkmovie_set.all %}
			<li>{{ link.movie.c00 }} ({{ link.movie.c07 }}) &dash; {{ link.strrole }}</li>
		{% endfor %}
		</ul>


		Directed:
		<ul>
		{% for movie in actor.movies_directed.all %}
			<li>{{ movie.c00 }}</li>
		{% endfor %}
		</ul>

		Written:
		<ul>
		{% for movie in actor.movies_written.all %}
			<li>
			<a href="{% url 'showcase:movie-detail' pk=movie.idmovie %}">
			{{ movie.c00 }}
			</a>
			</li>
		{% endfor %}
		</ul>

	</div>

</div>

{% endblock %}