{% extends 'base.html' %}

{% block content %}
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Directed by</th>
    <th>Rating</th>
  </tr>
	{% for movie in movie_list %}
	<tr>
    <td>
      <a href="{% url 'showcase:movie-detail' movie.idmovie %}">{{ movie.c00 }}</a>
    </td>
    <td>{{ movie.c07 }}</td>
    <td>
      {{ movie.c15 }}
    </td>
    <td>{{ movie.c05|floatformat:1 }}</td>
	</tr>
	{% endfor %}
</table>

{% comment %}

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}


<span class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
{% endif %}

{% endcomment %}

<nav>
  <ul class="pager">
  	{% if page_obj.has_previous %}
    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next"><a href="?page={{ page_obj.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}